.project_layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project_container {
    padding: 2em;
}

.tittle_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}